<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/login.css">
  </head>
  <body>
    <div class="loginTitle">用户登录</div>
      <p><span>用户名:</span><input type="txt" placeholder="请输入用户名" class="userName"></p>
      <p><span>密码:</span><input type="password" placeholder="请输入用户密码"  class="userPwd"></p>
      <p class="tip"></p>
      <p><button class="btn">登录</button></p>
    </div>
    <script src="../js/login.js">
	</script>
  </body>
</html>