* {
  margin: 0px;
  padding: 0px;
}
.box {
  width: 1200px;
  height: 260px;
  background-color: #cbe9d2;
}
.picture {
  width: 250px;
  height: 220px;
  margin: 15px;
  display: inline-block;
  background-color: #FFFFFF;
  overflow: hidden;
}
p {
  text-align: center;
  margin-top: 12px;
}
img {
  width: 200px;
  height: 150px;
}