.loginBox{
  width: 400px;
  height:200px;
  background: #bcfcff;
  border: 1px solid #b3b3b3;
  margin: 100px auto;
  text-align: center;
}

.loginTitle{
  font-size:16px;
  margin:10px;
}

.loginBox div{
  padding: 5px;
}

.loginBox label{
  display: inline-block;
  width: 70px;
  text-align: right;
  margin-right: 10px;
}

.loginBox div>input{
  height: 20px;
}

.tip_style{
  text-align:left;
  color: crimson;
}